<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Przemysław Michałek</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        mail at: przemekmichalek@gmail.com
      </mat-list-item>
      <mat-list-item>
        linkedin profile: <a
        matTooltip="Przemysław Michałek linkedin profile"
        mat-icon-button
        class="mat-button"
        aria-label="social link"
        [attr.href]="'https://www.linkedin.com/in/przemys%C5%82aw-micha%C5%82ek-48438a126/'"
        [attr.target]="'blank'">
        <mat-icon>share</mat-icon>
      </a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
